.main-container {
  max-width: 350px;
  margin: 10vh auto 0 auto;
  box-shadow: 0px 0px 43px 17px rgba(240, 188, 92, 0.901);
  border-radius: 15px;
}
body {
  height: 100vh;
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #cdc897 0%, #c0c57a 100%);
}
.header {
  text-align: center;
  margin-top: 1%;
  font-size: 40px;
  font-weight: 600;
}
.disp {
  text-align: right;
  height: 75px;
  line-height: 60px;
  padding: 10px 20px;
  font-size: 25px;
  border-radius: 15px;
  border: 0.5px solid gray;
  color: rgba(0, 0, 0, 0.69);
  font-weight: bold;
}
.buttons {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  display: grid;
  
}
.btn {
  border: 0.5px solid gray;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin: 0.3%;
  font-size: 25px;
  cursor: pointer;
  transition: 0.5s;
  font-weight: bold;
  border-radius: 15px;
}
.btn:hover {
  background: #000;
  color: white;
}
#opera-btn {
  background: rgb(220, 194, 61);
  color: white;
}
#nobtn {
  background-color: #8dc827d8;
  color: white;
}
#cbtn {
  background-color: rgb(241, 49, 49);
  color: black;
}
#opera-btn:hover {
  background-color: rgba(35, 86, 214, 0.79);
  color: rgb(254, 254, 254);
}
#nobtn:hover {
  background-color: rgba(35, 86, 214, 0.79);
  color: rgb(254, 254, 254);
}
#cbtn:hover {
  background-color: rgba(35, 86, 214, 0.79);
  color: rgb(254, 254, 254);
}
.footer {
  margin: 5%;
  width: 94%;
  position: fixed;
  text-align: end;
}
.footer h1 {
  font-size: 20px;
  font-weight: 400;
}
